.display-code-container {
  width: 25rem;
  height: 150px;
  background-color: #1e1e2f;
  color: #f8f8f2;
  font-family: monospace;
  border-radius: 8px;
  overflow-x: auto;
  overflow-y: auto;
  white-space: pre;
  word-wrap: normal;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid #44475a;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.code {
  text-align: left;
  color: #ffb86c;
  font-size: 0.9rem;
}
