.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  color: white;
}

.ready-button-container {
  margin-top: 20px;
}

.ready-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ready-button:hover {
  background-color: #45a049;
}

.stoplight-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 200px;
  background-color: #333;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 0;
  transition: background-color 1s;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.content-container {
  margin-top: 20px;
}

button.answer-button {
  width: 100%;
  height: 50px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
}

button.answer-button:hover {
  background-color: #45a049;
}
